[color]
  ui = auto
[core]
  whitespace = cr-at-eol
  excludesfile = ~/.gitignore
  autocrlf = false
[push]
  default = simple
[receive]
  denycurrentbranch = updateInstead
[alias]
  st = status
  ci = commit
  co = checkout
  rh = reset --hard @{upstream}
  l = log --pretty='%C(auto)commit %H %d%nAuthor: %an <%ce>%nDate:   %ai%n%n    %s%n' --graph
  lo = log --pretty='%C(auto)commit %H %d%nAuthor: %an <%ce>%nDate:   %ai%n%n    %s%n' --graph @{upstream}
  pf = push --force-with-lease
